<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  margin: 0;
  font-family: Impact, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div style="padding-left:16px">
  <h2>Responsive Topnav Example</h2>
  <p>Resize the browser window to see how it works.</p>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

* {
    font-family: 'Trebuchet MS', 'Lucinda Sans Unicode', 'Lucinda Grande', 'Lucinda Sans', Arial, sans-serif;
}

img{
  width: 100%;
  border-radius: 5px;  
}

.hero-image{
  background-image: url("./images/home/studying_image_by_entryeducation.jpg") ;
  height: 430px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text{
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 100%;
  font-size: 4rem;
}

.two-column{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.info{
  font-size: 1.25em;
}

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.card{
    background-color: aliceblue(0, 0, 140);
}

.card-text{
    text-align: justify;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1px;
    background-color: rgb(0, 140, 133);
    color: white;
    text-align: center;
}

body {
  background-color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

h3, p {
  color: black;
  text-align: justify;
  text-justify: inter-word;
  font-family: Verdana, sans-serif;
}

h1, h2 {
  color: black;
  text-align: center;
  text-justify: inter-word;
  font-family: Verdana, sans-serif;
}

p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color:black;
}

</body>
</html>
